@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary text-base
  }
}

.text-shadow-h1 {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#about-head::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  left: -5%;
  top: 5px;
}

/* .button {
  @apply text-white font-semibold rounded-lg px-3 py-2 flex items-center justify-center bg-[#0BAB7C] w-[295px] 
} */

/* JIT mode bg-[] */

@media (max-width: 640px) {
  .inMobile {
    margin: 20px 0 0 70px;
  }
}